@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  background-color: #e0f07f;
  margin: auto;
  padding: 2em;
  font-size: large;
  color: rgb(54, 54, 54);
  width: 100%;
  height: 13vh;
}
.Header > h3 {
  margin-top: 3.8em;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Nav{
  display: flex;
  margin:0.1em;
  width: 100%;
  padding: 2em;
  background-color: #f5e97b;
  flex-direction: row;
  justify-content: space-around;
}
.Nav > a {
  border: 0.1px solid rgb(78, 78, 78);
  padding: 0.5em;
  border-radius: 1em;
  background-color: rgb(241, 151, 119);
}
.ReviewIMG{
  width: 20%;
  height: 20%;
}
.ReviewIMG > img{
  height: 100%;
  width: 100%;
}
.Main{
  display: flex;
  background-color:#d9d9d9 ;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.1em;
  width: 99%;
  list-style: none;
}
.ReviewCard{
  margin:0.1em;
  padding:0.5em;
  width:94%;
  background-color: #f6eac9;
  border:1px solid black;
  border-radius: 0.5em;
  list-style: none;
}
.ReviewCard > button{
 padding: 0.2em;
}
.ReviewCard > p{
  font-family: 'Patrick Hand', cursive;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
